name: Update Alura Stats on README

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run update script
        run: python ./update_readme.py

      # PASSO DE VERIFICAÇÃO ADICIONADO
      - name: Verify file size
        run: |
          echo "Verificando o tamanho do arquivo README.md..."
          ls -lh README.md
          echo "Verificação concluída."

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          git diff-index --quiet HEAD || git commit -m "Chore: Atualiza estatísticas da Alura"
          git push